.cardButton button{
    width: 272px;
    height: 67px;
    border-radius: 14px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    border: none;
    font-size: 12px;
    font-weight: 700;
}

.cardButton button:focus{
    border: 2px solid #66cc33;
}
.cardButton{
    padding: 10px 0;
    width: 272px;
    height: 67px;
    border-radius: 14px;
}