@font-face {
  font-family: LeroyMerlinBold;
  src: url('./assets/fonts/LeroyMerlinSansBold.eot');
  src: url('./assets/fonts/LeroyMerlinSansBold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/LeroyMerlinSansBold.woff') format('woff'),
    url('./assets/fonts/LeroyMerlinSansBold.ttf') format('truetype'),
    url('./assets/fonts/LeroyMerlinSansBold.svg#3dumbregular') format('svg');
}

@font-face {
  font-family: LeroyMerlinRegular;
  src: url('./assets/fonts/LeroyMerlinSansRegular.eot');
  src: url('./assets/fonts/LeroyMerlinSansRegular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/LeroyMerlinSansRegular.woff') format('woff'),
    url('./assets/fonts/LeroyMerlinSansRegular.ttf') format('truetype'),
    url('./assets/fonts/LeroyMerlinSansRegular.svg#3dumbregular') format('svg');
}

@font-face {
  font-family: LeroyMerlinLight;
  src: url('./assets/fonts/LeroyMerlinSansLight.eot');
  src: url('./assets/fonts/LeroyMerlinSansLight.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/LeroyMerlinSansLight.woff') format('woff'),
    url('./assets/fonts/LeroyMerlinSansLight.ttf') format('truetype'),
    url('./assets/fonts/LeroyMerlinSansLight.svg#3dumbregular') format('svg');
}
*{
  outline: none;
}
.App {
  font-family: LeroyMerlinRegular;
}

.App-logo {
  height: 32px;
  margin: 4px;
}

.App-header {
  border-bottom: 3px solid #66cc33;
}

.App-container {
  margin: 16px;
}

.step-cards-container-button{
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: auto;
  align-items: center;
}

.step-cards-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}

.step-card {
  flex: 0 0 auto;
  width: 315px;
  cursor: pointer;
  margin-right: 16px;
}

.step-card:hover img {
  opacity: .8;
}

.interactivePhoto:focus img{
 filter: blur(2px); 
 opacity: .4;
 background-color: rgba(0,0,0,0.2);
 z-index: 10;
}


.step-card img {
  border: 1px solid white;
  border-radius: 8px;
  width: 315px;
  height: 322px;
}

.step-card .title {
  font-family: LeroyMerlinBold;
  text-transform: uppercase;
  margin-top: 16px;
}

.step-card .description {
  font-family: LeroyMerlinLight;
  margin-top: 8px;
}


/* MEDIA QUERY BREAKPONT EXAMPLE */

/* tablet portrait */
@media (min-width: 601px) {
  .App-logo {
    height: 47px;
    margin: 8px;
  }
  
}

/* tablet landscape */
@media (min-width: 900px) {
  .step-cards-container {
    flex-direction: row;
    justify-content: center;
}
.bottone{
  text-align: center;
}
}
@media (min-width: 600px) {
  .step-cards-container {
    flex-direction: row;
    justify-content: center;
}
.bottone{
  text-align: center;
}
}

/* desktop */
@media (min-width: 1200px) {
  .App-logo {
    height: 47px;
    margin: 8px;
  }
  .App-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.chip-container {
  justify-content: center;
}
.bottone{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.step-cards-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  flex-direction: row;
  justify-content: center;
}
}



@media (max-width: 600px) {
  .App-logo {
    height: 47px;
    margin: 8px;
  }
  .App-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.chip-container {
  justify-content: center;
}
.bottone{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
}